<!--
 * @Descripttion: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @version: April 2021 (version 1.56)
 * @Author: ZhangKe
 * @Date: 2022-05-04 00:30:01
 * @LastEditors: ZhangKe
 * @LastEditTime: 2022-05-04 10:01:01
 * @FilePath: \20_Vue2.0\41_v-for中的key.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="./lib/vue-2.6.12.js"></script>
    <script>
        window.addEventListener('load', function (evt) {

            // key 的注意事项:
            // 1. key 的值只能是字符串或数字类型；
            // 2. key 的值必须具有唯一性 (即：key 的值不能重复.);
            // 3. 建议把数据项 id 属性的值作为 key 的值 (因为 id 属性的值具有唯一性)；
            // 4. 使用 index 的值当作 key 的值没有任何意义 (因为 Index 的值不具有唯一性);
            // 5. 建议使用 v-for 指令时一定要指定 key 的值 (即提升性能，又防止列表状态紊乱.);

            const vm = new Vue({
                el: '#app',
                data: {
                    // 用户列表
                    list: [{
                            id: 1,
                            name: 'zs'
                        },
                        {
                            id: 2,
                            name: 'ls'
                        }
                    ],
                    // 输入的用户名
                    name: '',
                    // 下一个可用的 id 值
                    nextId: 3
                },
                methods: {
                    // 点击了添加按钮
                    addNewUser() {
                        this.list.unshift({
                            id: this.nextId,
                            name: this.name
                        })
                        this.name = ''
                        this.nextId++
                    }
                },
            });

        });
    </script>
</head>

<body>
    <!-- 在页面中声明一个将要被 vue 所控制的 DOM 区域 -->
    <div id="app">

        <!-- 添加用户的区域 -->
        <div>
            <input type="text" v-model="name">
            <button v-on:click="addNewUser">添加</button>
        </div>

        <!-- 用户列表区域 -->
        <ul>
            <li v-for="(user, index) in list" v-bind:key="user.id">
                <input type="checkbox" />
                姓名: {{user.name}}
            </li>
        </ul>
    </div>
</body>

</html>